.TextBlock {
  width: 100vw;
  height: 90vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.TextBlock-container {
  width: 90%;
  height: 90%;
  align-items: center;
}

.TextBlock-container-1-title {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins SemiBold";
  line-height: 120%;
}

.TextBlock-container-1-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins Thin";
  line-height: 180%;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media only screen and (min-width: 800px) {
  .TextBlock {
    min-width: 1200px;
    min-height: 700px;
  }

  .TextBlock-container {
    display: flex;
  }

  .TextBlock-container-1, .TextBlock-container-2 {
    width: 50%;
  }

  .TextBlock-container-1-title {
    font-size: 50px;
  }

  .TextBlock-container-1-text {
    font-size: 20px;
  }

  .TextBlock-container-2 {
    display: flex;
    position: relative;
    align-items: right;
    justify-content: right;
  }

  .TextBlock-container-2-image {
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}

@media only screen and (max-width: 800px) {
  .TextBlock-container {
    display: grid;
  }

  .TextBlock-container-1 {
    width: 100%;
  }

  .TextBlock-container-1-title {
    font-size: 33px;
  }

  .TextBlock-container-1-text {
    font-size: 20px;
  }

  .TextBlock-container-2 {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .TextBlock-container {
    display: grid;
  }

  .TextBlock-container-1 {
    width: 100%;
  }

  .TextBlock-container-1-title {
    font-size: 25px;
  }

  .TextBlock-container-1-text {
    font-size: 17px;
  }

  .TextBlock-container-2 {
    display: none;
  }
}
