.SupportBlock {
  width: 100vw;
  height: 90vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.SupportBlock-container {
  width: 90%;
  height: 90%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.SupportBlock-container-2-send {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 80%;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  box-shadow: #722534 5px 10px 20px;
}

.SupportBlock-container-2-send-title {
  color: #222;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins Bold";
  text-align: center;
}

.SupportBlock-container-2-send-fullname, .SupportBlock-container-2-send-email {
  color: #222;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins Regular";
  height: 50px;
  border: none;
  background: none;
  border-bottom-color: #f0f0f0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.SupportBlock-container-2-send-message {
  color: #222;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins Regular";
  height: 150px;
  border: none;
  resize: none;
  background: none;
  border-color: #f0f0f0;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
}

.SupportBlock-container-2-send-submit {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins Bold";
  height: 50px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 10px #777;
  background: linear-gradient(120deg, #330f1c 25%, #bc3e55 85%);
}

@media only screen and (min-width: 800px) {
  .SupportBlock {
    min-width: 1200px;
    min-height: 700px;
  }

  .SupportBlock-container-1, .SupportBlock-container-2 {
    width: 50%;
  }

  .SupportBlock-container-1-title {
    color: #fff;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    font-family: "Poppins SemiBold";
    line-height: 120%;
  }

  .SupportBlock-container-1-text {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-family: "Poppins Thin";
    line-height: 180%;
    padding-top: 20px;
    width: 600px;
  }

  .SupportBlock-container-1-references {
    margin-top: 20px;
  }

  .SupportBlock-container-2 {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .SupportBlock-container-2-send {
    width: 60%;
    height: 90%;
    grid-gap: 40px;
    border-radius: 20px;
  }

  .SupportBlock-container-2-send-submit {
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  .SupportBlock-container-2-send-submit:hover {
    transform: scale(1.005);
    box-shadow: 0 2px 10px #555;
  }

  .SupportBlock-container-2-send-submit:focus {
    /*transform: scale(1.03);*/
    text-decoration: inherit;
  }
}

@media only screen and (max-width: 800px) {
  .SupportBlock-container-1 {
    display: none;
  }

  .SupportBlock-container-2 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .SupportBlock-container-2-send {
    width: 90%;
    height: 80%;
    grid-gap: 35px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .SupportBlock-container-1 {
    display: none;
  }

  .SupportBlock-container-2 {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .SupportBlock-container-2-send {
    width: 90%;
    height: 90%;
    grid-gap: 20px;
    border-radius: 20px;
  }
}