.HomeBlock {
  width: 100vw;
  height: 90vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.HomeBlock-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.HomeBlock-container-2-subtitle {
  color: #ff5b79;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins Bold";
  text-transform: uppercase;
}

.HomeBlock-container-2-title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-family: "Poppins Bold";
  text-transform: uppercase;
  line-height: 110%;
  padding-bottom: 20px;
}

.HomeBlock-container-2-text {
  color: #fff;
  opacity: 0.8;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins Regular";
}

.HomeBlock-container-2-box {
  display: flex;
  padding-top: 50px;
}

.HomeBlock-container-2-box-action {
  width: 170px;
  height: 70px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #ff5b79;
  border-radius: 35px 15px 35px 20px;
  margin-right: 20px;
}

.HomeBlock-container-2-box-action-link {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-family: "Poppins Bold";
}

@media only screen and (min-width: 800px) {
  .HomeBlock {
    min-width: 1200px;
    min-height: 700px;
  }

  .HomeBlock-container {
    width: 100%;
    height: 100%;
  }

  .HomeBlock-container-1 {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .HomeBlock-container-1-image {
    width: 100%;
    height: 100%;
  }

  .HomeBlock-container-2 {
    width: 550px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
  }

  .HomeBlock-container-2-subtitle {
    font-size: 16px;
  }

  .HomeBlock-container-2-title {
    font-size: 64px;
  }

  .HomeBlock-container-2-text {
    font-size: 18px;
  }

  .HomeBlock-container-2-box-action {
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  .HomeBlock-container-2-box-action:hover {
    border-radius: 35px;
  }

  .HomeBlock-container-2-box-action-link {
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .HomeBlock-container {
    width: 90%;
    height: 90%;
  }

  .HomeBlock-container-1 {
    display: none;
  }

  .HomeBlock-container-2 {
    width: 100%;
  }

  .HomeBlock-container-2-subtitle {
    font-size: 15px;
  }

  .HomeBlock-container-2-title {
    font-size: 40px;
  }

  .HomeBlock-container-2-text {
    font-size: 17px;
  }

  .HomeBlock-container-2-box-action-link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .HomeBlock-container {
    width: 90%;
    height: 90%;
  }

  .HomeBlock-container-1 {
    display: none;
  }

  .HomeBlock-container-2 {
    width: 100%;
  }

  .HomeBlock-container-2-subtitle {
    font-size: 13px;
  }

  .HomeBlock-container-2-title {
    font-size: 35px;
  }

  .HomeBlock-container-2-text {
    font-size: 15px;
  }

  .HomeBlock-container-2-box-action-link {
    font-size: 13px;
  }
}
